html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
}
.desp{
text-align:justify;
}
.Welcome {
    padding-top: 20%;
    color: #06253E;
}
.index-table1{
    font-family:'Arial Rounded MT'
}

