html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
}
.desp{
text-align:justify;
}
.Welcome {
    padding-top: 20%;
    color: #06253E;
}
.index-table1{
    font-family:'Arial Rounded MT'
}

.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}


.logoimg {
    padding-right: 0;
    padding-left:20%;
}

.weltext {
    padding-left:0;
    padding-right:20%;
}

.welcomebox{
    padding-top:6%;
    padding-bottom:9%;
}
.nav-item {
    font-weight: 600;
    color: #06253E;
}

..card-body {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #06253E !important;
    color: white !important;
    border-color: #06253E !important;
    font-weight: 600 !important;
}

.cardcont{
    padding-bottom:2%;
}