html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
}
.desp{
text-align:justify;
}
.Welcome {
    padding-top: 20%;
    color: #06253E;
}
.index-table1{
    font-family:'Arial Rounded MT'
}

.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}


.logoimg {
    padding-right: 0;
    padding-left:20%;
}

.weltext {
    padding-left:0;
    padding-right:20%;
}

.welcomebox{
    padding-top:6%;
    padding-bottom:9%;
}
.nav-item {
    font-weight: 600;
    color: #06253E;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #06253E !important;
    color: white !important;
    border-color: #06253E !important;
    font-weight: 600 !important;
}

.cardcont{
    padding-bottom:2%;
}

.contactus h3 {
    font-size: 50px;
}


.contactus h2 {
    color: white;
}

.contactus * {
    box-sizing: border-box;
}

.contactus .box {
    float: left;
    width: 50%;
    padding: 50px;
    height: 400px;
}

.contactus .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.contactus textarea {
    resize: none;
}

.AboutUs body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.AboutUs html {
    box-sizing: border-box;
}

.AboutUs *, *:before, *:after {
    box-sizing: inherit;
}

.AboutUs .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.AboutUs .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.AboutUs .about-section {
    padding: 50px;
    text-align: center;
    background-color: #06253E;
    color: white;
}

.AboutUs .container {
    padding: 0 16px;
}

.AboutUs .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

.AboutUs .title {
    color: grey;
}

.AboutUs .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.AboutUs .button:hover {
        background-color: #555;
    }


