@page
@model XML_Project.Pages.AboutUsModel
@{
}
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="site.css">
   </head>
   <body class ="AboutUs">
      <div class="about-section">
         <h1>About Us</h1>
         <p>BOOKBROWSE is your guide to exceptional books. BookBrowse seeks out and recommends the best in 
            contemporary fiction and nonfiction—books that not only engage and entertain 
            but also deepen our understanding of ourselves and the world around us. 
            At BookBrowse, we believe that the very best books don't just entertain and engage, 
            they also enlighten, wrapping us in their world, giving us a window into the lives of 
            others or a mirror to reflect on ourselves.
         </p>
      </div>
      <br />
      <h2 style="text-align:center">Our Services</h2>
      <div class="container">
      <div class="accordion" id="accordionExample">
      <div class="accordion-item">
         <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Book Browse
            </button>
         </h2>
         <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
               Can search for a book from a large collection of books.
            </div>
         </div>
      </div>
      <div class="accordion-item">
         <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            NY Times Best sellers
            </button>
         </h2>
         <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
               Get the best sellers list as when updated by the NY Times
            </div>
         </div>
         <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               Favourites from Genres
               </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
               <div class="accordion-body">
                  Can search for people's favourite books from specific genre
               </div>
            </div>
         </div>
         <br />
         <br />
         <h2 style="text-align:center">Our Team</h2>
         <div class="row">
            <div class="column">
               <div class="card">
                  <img src="/Images/Mayura.png" alt="Mayura" style="width:100%">
                  <div class="container">
                     <h2>Mayura Rane</h2>
                     <p class="title">Founder and CEO</p>
                     <p>Avid reader and a self-made entrepreneur. I'm someone who loves to live around books. I believe the potential for business is driven when a team of like-minded individuals come together.  </p>
                     <p>mayura.rane@bookbrowse.com</p>
                     <a href='https://www.linkedin.com/in/mayurarane/'><p><button class="button">Contact</button></p></a>
                  </div>
               </div>
            </div>
            <div class="column">
               <div class="card">
                  <img src="/Images/Sandeep.jpg" alt="Sandeep" style="width:100%">
                  <div class="container">
                     <h2>Sandeep Susarla</h2>
                     <p class="title">Creative Director</p>
                     <p>Lifetime of art, craft and music. I don't just read, I write too. I'm their content manager too.</p>
                     <p>sandeep.susarla@bookbrowse.com</p>
                                <a href='https://www.linkedin.com/in/sandeep-susarla/'><p><button class="button">Contact</button></p></a>
                  </div>
               </div>
            </div>
            <div class="column">
               <div class="card">
                  <img src="/Images/Monica.png" alt="Monica" style="width:100%">
                  <div class="container">
                     <h2>Monica Varu</h2>
                     <p class="title">Lead, Design & UI/UX</p>
                     <p>Lead, Creative design and user-experience. I love contributing to highly collaborative work environments and finding solutions. </p>
                     <p>monica.varu@bookbrowse.com</p>
                                <a href='https://www.linkedin.com/in/monica-varu-725674180/'><p><button class="button">Contact</button></p></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="card">
               <img src="/Images/Vamsi.jpg" alt="Vamsi" style="width:100%">
               <div class="container">
                  <h2>Vamsi Krishna Kalepu</h2>
                  <p class="title">Strategist</p>
                  <p>Organizational challenges are bewildering. I supervise leads of all concerned teams, define metrics to drive change for the organization as a whole. I try to bring the sense of purpose when our teams collaborate. </p>
                  <p>vamsi.kalepu@bookbrowse.com</p>
                            <a href='https://www.linkedin.com/in/vamsi-krishna-kalepu/'><p><button class="button">Contact</button></p></a>
               </div>
            </div>
         </div>
      </div>
      </div>
      </div>
   </body>
</html>